<div class="login_main_bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 d-flex align-items-center">
				<img src="assets/img/logo_new.png" class="img-fluid">
			</div>
			<div class="col-lg-8">
				<div class="login_box">
					<div class="admin_login_heading p-4">
						<h1>Admin Login</h1>
						<h2>Welcome Back, Please Login to your account</h2>
						<div class="form_sec">
							<form>
								<div class="form-group">
									<input type="text" name="" placeholder="Email" class="form-control">
								</div>
								<div class="form-group">
									<input type="text" name="" placeholder="Password" class="form-control">
								</div>
								<div class="remember_heading d-lg-flex">
									<div class="form-group form-check remember_me flex_1">
									    <input type="checkbox" class="form-check-input" id="exampleCheck1">
									    <label class="form-check-label" for="exampleCheck1">Remember me</label>
								  	</div>
									  <div>
									  	<a routerLink="/forget-password" href="javascript:void(0)">Forget password.?</a>
									  </div>
								</div>
								<a routerLink="/dashboard" href="javascript:void(0)"><button class="btn btn_signin" >SIGN IN</button></a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>