<div class="tabcontentbox" style="background-color: rgb(232, 232, 232);">
    <div class="cards_sec mt-5">
        <div class="container-fluid">
    
            <div class="row">
                <div class="col-lg-6">
                    <div class="birthday_box">
                        <div class="birthday_box_header">
                            <h1>Clients <span>33</span></h1>
                        </div>
                        <div class="birthday_box_inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                            </div><!-- row-end -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                            </div><!-- row-end -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                            </div><!-- row-end -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                            </div><!-- row-end -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                                <div class="col-lg-6">
                                    <div class="employee_list">
                                        <div>
                                            <img src="assets/img/employee_list_img.png" class="img-fluid">
                                        </div>
                                        <div class="employee_list_heading_heading ml-3">
                                            <h1><span>CC0004 -</span> Demet</h1>
                                            <h2><span><i class="fas fa-mobile-alt"></i></span> +919988776655</h2>
                                        </div>
                                    </div>
                                </div><!-- col-lg-6-end -->
                            </div><!-- row-end -->
                        </div>
                    </div><!-- birthday_box-end -->
                </div>
                <div class="col-lg-6">
                    <div class="birthday_box">
                        <div class="birthday_box_header">
                            <h1>Upcoming Holidays</h1>
                        </div>
                        <div class="birthday_box_inner">
                            <div class="upcoming_holidays_heading mt-0">
                                <div class="flex_1">
                                    <h1>Holiday</h1>
                                </div>
                                <div>
                                    <h2>1-May</h2>
                                    <h3>Saturday</h3>
                                </div>
                            </div><!-- upcoming_holidays_heading-end -->
                            <div class="upcoming_holidays_heading">
                                <div class="flex_1">
                                    <h1>Holiday</h1>
                                </div>
                                <div>
                                    <h2>1-May</h2>
                                    <h3>Saturday</h3>
                                </div>
                            </div><!-- upcoming_holidays_heading-end -->
                            <div class="upcoming_holidays_heading">
                                <div class="flex_1">
                                    <h1>Holiday</h1>
                                </div>
                                <div>
                                    <h2>1-May</h2>
                                    <h3>Saturday</h3>
                                </div>
                            </div><!-- upcoming_holidays_heading-end -->
                            <div class="upcoming_holidays_heading">
                                <div class="flex_1">
                                    <h1>Holiday</h1>
                                </div>
                                <div>
                                    <h2>1-May</h2>
                                    <h3>Saturday</h3>
                                </div>
                            </div><!-- upcoming_holidays_heading-end -->
                        </div>
                    </div><!-- birthday_box-end -->
                </div>
            </div><!-- row-end -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="birthday_box">
                        <div class="birthday_box_header">
                            <h1> Reports</h1>
                        </div>
                        <div class="birthday_box_inner">
                            <div class="leave_report_heading">
                                <div>
                                    <div class="leave_circle">2</div>
                                </div>
                                <div>
                                    <h1>Absent</h1>
                                </div>
                            </div><!-- leave_report_heading-ends -->
                            <div class="leave_report_heading mt-3">
                                <div>
                                    <div class="leave_circle">0</div>
                                </div>
                                <div>
                                    <h1>Leave Without Pay</h1>
                                </div>
                            </div><!-- leave_report_heading-ends -->
                            <div class="leave_report_heading mt-3">
                                <div>
                                    <div class="leave_circle">0</div>
                                </div>
                                <div>
                                    <h1>On Tour</h1>
                                </div>
                            </div><!-- leave_report_heading-ends -->
                            <div class="leave_report_heading mt-3">
                                <div>
                                    <div class="leave_circle">0</div>
                                </div>
                                <div>
                                    <h1>Privillage Leave</h1>
                                </div>
                            </div><!-- leave_report_heading-ends -->
                            <div class="leave_report_heading mt-3">
                                <div>
                                    <div class="leave_circle">0</div>
                                </div>
                                <div>
                                    <h1>Work From Home</h1>
                                </div>
                            </div><!-- leave_report_heading-ends -->
                        </div>
                    </div><!-- birthday_box-end -->
                </div>
                <div class="col-lg-6">
                    <div class="birthday_box">
                        <div class="birthday_box_header">
                            <h1>Favorites</h1>
                        </div>
                        <div class="birthday_box_inner">
                            <div class="favorites_content">
                                <img src="assets/img/no_favorite.png" class="img_nofavorite">
                                <h1>No Favorites Found</h1>
                            </div>
                        </div>
                    </div><!-- birthday_box-end -->
                </div>
            </div><!-- row-end -->
        </div>
    </div><!-- cards_sec-end -->
</div><!-- tabcontentbox-end -->
