<div class="header_top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-4 logo_div">
					<a href="index.html"><img src="assets/img/logo_new.png" class="img_logo"></a>
				</div>
				<div class="col-lg-6 col-md-2 col-2 menu_mobile">
					<a href="javascript:void(0)" class="menu_icon"><i class="fa fa-bars" onclick="reduceSize()"></i></a>
				</div>
				<div class="col-lg-4 col-md-6 col-10">
					<div class="header_right_content">
						<div class="notification_icon dropdown dropdown_notification">
							<a href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="assets/img/notification_2.png" class="img_notification_icon">
							</a>
							<div class="dropdown-menu dropdown-menu-notification" aria-labelledby="navbarDropdown">
								<div class="notification_header">
									<h1>Notification <span>Mark all as read</span></h1>
								</div>
								<div class="notification_profile_sec">
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
									<div class="notification_profile_inner">
										<div>
											<img src="assets/img/employee_pic.png" class="img_notification_profile">
										</div>
										<div class="notification_profile_heading ml-3">
											<h1>Rajneet has approved your request.</h1>
											<h2>02 April 11:00 AM</h2>
										</div>
									</div><!-- notification_profile_inner-end -->
								</div>
							</div>
						</div>
						<div class="dropdown">
							<div class="profile_heading">
								<img src="assets/img/user_img.png" class="img_user mr-3 ml-4">
								<h1>Demet Polat</h1>
							</div>
							<div class="dropdown-content">
								<div class="user_dropdown_main">
									<div class="user_profile_sec">
										<div class="user_account_sec">
											<img src="assets/img/user_img.png" class="img_user_profile_pic">
											<h1>CC0006 Shivam</h1>
											<h2>xyz123@gmailcom</h2>
											<h3>Consultant</h3>
											<div class="account_btn_main">
												<button type="button" class="btn btn_my_account">My Account</button>
												<button type="button" class="btn btn_sign_out" routerLink="/">Sign Out</button>
											</div>
										</div>
									</div><!-- user_profile_sec-end -->
									<div class="themes_sec">
										<h1>Themes</h1>
										<div class="menu_color_main">
											<div class="menu_color_heading">
												<h1>Menu Color</h1>
											</div>
											<div class="on_off_btn">
												<label class="switch">
													<input type="checkbox">
													<span class="slider round"></span>
												</label>
											</div>
										</div>
										<div class="menu_color_main">
											<div class="menu_color_heading">
												<h1>Theme Color</h1>
											</div>
											<div class="colors_theme">
												<div class="color_circle"></div>
												<div class="color_circle blue_color"></div>
												<div class="color_circle"></div>
												<div class="color_circle"></div>
											</div>
										</div>
									</div><!-- themes_sec-end -->
									<div class="help_sec">
										<h1><span class="mr-2"><i class="fas fa-question-circle"></i></span> Help</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- header_top-end -->
	<div class="main_content_sec">
		<div class="d-flex">
			<div class="dashboard_sidebar" id="sideDiv">
				<ul class="mt-lg-3">
					<li class="active_bg">
						<a href="index.html">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/home.png" class="img_list_icon"></span> Dashboard</h6>
							</div>
						</a>	
					</li>
					<li class="dropdown dropdown_self_service">
						<a href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/user.png" class="img_list_icon"></span> Self Service</h6>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-self-service" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" routerLink="/profile" href="javascript:void(0)">Profile</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" routerLink="/team" href="javascript:void(0)" >Team</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" routerLink="/calendar" href="javascript:void(0)" >Calendar</a></li>
						</ul>	
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/leave_tracker.png" class="img_list_icon"></span> Personal</h6>
							</div>
						</a>	
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/clock.png" class="img_list_icon"></span> Business</h6>
							</div>
						</a>	
					</li>

					<li>
						<a href="javascript:void(0)">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/files.png" class="img_list_icon"></span> Files</h6>
							</div>
						</a>	
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/Organization.png" class="img_list_icon"></span> Organization</h6>
							</div>
						</a>	
					</li>
					<li>
						<a href="javascript:void(0)" routerLink="/employees">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/Employees.png" class="img_list_icon"></span> Employees</h6>
							</div>
						</a>	
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="sidebartabs">
								<h6><span class="pr-2"><img src="assets/img/More.png" class="img_list_icon"></span> More</h6>
							</div>
						</a>	
					</li>
				</ul>
				<div class="sidebar_bottom_sec">
					<div class="sidebar_bottom_sec_heading">
						<p><i class="fa fa-comments"></i></p>
						<h1>Chats</h1>
					</div>
					<div class="sidebar_bottom_sec_heading ml-3 mr-3">
						<p><i class="fa fa-users"></i></p>
						<h1>Channels</h1>
					</div>
					<div class="sidebar_bottom_sec_heading">
						<p><i class="fa fa-user"></i></p>
						<h1>Contacts</h1>
					</div>
				</div>
			</div><!-- dashboard_sidebar-end -->
			<div class="w-100">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
<!-- </body> -->
